.collection {
  margin: .5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.collection .collection-item.active {
  background-color: #26a69a;
  color: #eafaf9;
}

.collection span.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #26a69a;
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.collection span.collection-item:not(.active):hover {
  background-color: #ddd;
}

span{
  cursor: pointer;
}
.btn-add,
.btn-delete,
.btn-edit {
  background: #B7C5D5;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}


.btn-add,
.btn-add:hover {
  background: transparent;
  background-image: url('/img/add.png');
  background-repeat: no-repeat;
  background-position: center;
  right: 39px;
}

.btn-delete,
.btn-delete:hover {
  background-image: url('/img/icon-btn-delete.png');
  background-repeat: no-repeat;
  background-position: center;
  right: 39px;
}
.btn-edit,
.btn-edit:hover {
  background-image: url('/img/icon-btn-pencil.png');
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
}